@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;800&display=swap');
$bgColor: #1E1F23;
$mainColor: #7e8185;
$colorWhite: #fff;
$secondColor: #AC8059;
$outfitFont: 'Outfit', sans-serif;